/* Button(s) */

.btn {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
    border-radius: inherit;
}
.btn:hover {
    background: rgba(213, 89, 34, 0.75);
	cursor: hand;
}
a.btn {
    color: #fff;
	cursor: hand;
}

/* Resposive title and buttons */
@media screen and (max-width: 750px) {
  .title {
    font-size: xx-large;
  }
  .parallax-margin {
    margin-top: 0px !important;
  }
  .parallax {
    width: 100% !important;
    position: unset !important;
  }
  body {
    height: 100% !important;
  }
}
/* Gradient  */
/* Project card css */

.projects{
	background-color: rgba(99, 97, 95, 0.31);
  padding-bottom: 0.5%;
  -webkit-box-shadow: 5px 5px 6px 0px rgba(27, 26, 26, 0.61);
  -moz-box-shadow:    5px 5px 6px 0px rgba(27, 26, 26, 0.61);
  box-shadow:         5px 5px 6px 0px rgba(27, 26, 26, 0.61);
}
.project.title{
	margin: 4px;
	font-family: 'Open Sans',sans-serif;
}
.pbtn{
	background-color: #F7F7F7;
    color: dodgerblue;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    transition: .25s;
	text-decoration: none !important;
	margin-top: 2%;
}
.pbtn.download:hover {
	background-color: #f4511e;
    color: white;
    cursor: pointer;
	
	
}
.pbtn.moreinfo:hover {
	background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

body {
  height: 0px;
  width: 100%;
}
/* Parallax scrolling effect */
.parallax {
  width: 100%;
  z-index: -1;
  position: fixed;
}
.parallax-margin {
  margin-top: 55%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

body {
  height: 100%;
  width: 100%;
}

/* Loader Circle */
.loader {
  display: block;
	height: 128px;
	width: 128px;
  margin: 0px auto;float: none;
	-webkit-animation: loader-1 3s linear infinite;
	        animation: loader-1 3s linear infinite;
}
@-webkit-keyframes loader-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 128px;
	width: 128px;
	clip: rect(16px, 128px, 128px, 0);
	-webkit-animation: loader-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 128px;
	width: 128px;
	border: 3px solid transparent;
	border-top: 3px solid #FFF;
	border-radius: 50%;
	-webkit-animation: loader-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-3 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-3 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 128px;
	width: 128px;
	border: 3px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
}